.DS_Store
*.swp
*.swo
*.tmp

**/.cache/
**/cache/
**/logs/
**/log/
**/sessions/
**/session/

hypr/.config/hypr/local.conf
nvim/.config/nvim/lua/local.lua
waybar/.config/waybar/local.css
waybar/.config/waybar/local.jsonc
zed-linux/.config/zed/private.json
zed-macos/.config/zed/private.json
