// Open Celluloid media player as a floating window.
window-rule {
    match app-id="io.github.celluloid_player.Celluloid"
    open-floating true
}

// Open Nautilus file previews as floating windows.
window-rule {
    match app-id="org.gnome.NautilusPreviewer"
    open-floating true
}
